// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'GlacialIndifference-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/GlacialIndifference-Bold.otf');
}

@font-face {
  font-family: 'GlacialIndifference-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/GlacialIndifference-Regular.otf');
}

@font-face {
  font-family: 'LeagueSpartan-Black';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/LeagueSpartan-Black.ttf');
}

@font-face {
  font-family: 'LeagueSpartan-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/LeagueSpartan-Bold.ttf');
}

@font-face {
  font-family: 'LeagueSpartan-ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/LeagueSpartan-ExtraBold.ttf');
}

@font-face {
  font-family: 'LeagueSpartan-ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/LeagueSpartan-ExtraLight.ttf');
}

@font-face {
  font-family: 'LeagueSpartan-Light';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/LeagueSpartan-Light.ttf');
}

@font-face {
  font-family: 'LeagueSpartan-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/LeagueSpartan-Medium.ttf');
}

@font-face {
  font-family: 'LeagueSpartan-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/LeagueSpartan-Regular.ttf');
}

@font-face {
  font-family: 'LeagueSpartan-SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/LeagueSpartan-SemiBold.ttf');
}

@font-face {
  font-family: 'LeagueSpartan-Thin';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/LeagueSpartan-Thin.ttf');
}



/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #FFDE59;
	--ion-color-primary-rgb: 255,222,89;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #e0c34e;
	--ion-color-primary-tint: #ffe16a;

  /** secondary **/
  --ion-color-secondary: #FF914D;
	--ion-color-secondary-rgb: 255,145,77;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #e08044;
	--ion-color-secondary-tint: #ff9c5f;

  /** tertiary **/
  --ion-color-tertiary: #111111;
	--ion-color-tertiary-rgb: 17,17,17;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #0f0f0f;
	--ion-color-tertiary-tint: #292929;

  /** success **/
  // --ion-color-success: #2dd36f;
  // --ion-color-success-rgb: 16, 220, 96;
  // --ion-color-success-contrast: #ffffff;
  // --ion-color-success-contrast-rgb: 255, 255, 255;
  // --ion-color-success-shade: #28ba62;
  // --ion-color-success-tint: #42d77d	;

  /** warning **/
  // --ion-color-warning: #ffce00;
  // --ion-color-warning-rgb: 255, 206, 0;
  // --ion-color-warning-contrast: #ffffff;
  // --ion-color-warning-contrast-rgb: 255, 255, 255;
  // --ion-color-warning-shade: #e0b500;
  // --ion-color-warning-tint: #ffd31a;

  /** danger **/
  // --ion-color-danger: #f04141;
  // --ion-color-danger-rgb: 245, 61, 61;
  // --ion-color-danger-contrast: #ffffff;
  // --ion-color-danger-contrast-rgb: 255, 255, 255;
  // --ion-color-danger-shade: #d33939;
  // --ion-color-danger-tint: #f25454;

  /** dark **/
  // --ion-color-dark: #222428;
  // --ion-color-dark-rgb: 34, 34, 34;
  // --ion-color-dark-contrast: #ffffff;
  // --ion-color-dark-contrast-rgb: 255, 255, 255;
  // --ion-color-dark-shade: #1e2023;
  // --ion-color-dark-tint: #383a3e;

  /** medium **/
  // --ion-color-medium: #989aa2;
  // --ion-color-medium-rgb: 152, 154, 162;
  // --ion-color-medium-contrast: #ffffff;
  // --ion-color-medium-contrast-rgb: 255, 255, 255;
  // --ion-color-medium-shade: #86888f;
  // --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #ffffff;
	--ion-color-light-rgb: 255,255,255;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #e0e0e0;
	--ion-color-light-tint: #ffffff;

  --ion-font-family: 'LeagueSpartan-Medium';
}
