<ion-content>  
  <div class="logodiv">
    <img src="assets/imgs/chicklogo.PNG" alt="logo" class="logo">
  </div>
  
  <div class="form-wrapper">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">

      <div class="formdiv">
        <p class="subtitle">Correo electrónico</p>      
        <ion-input type="email" formControlName="email"></ion-input>  
        <p class="subtitle">Contraseña</p>
        <ion-input type="password" formControlName="password"></ion-input>
        <p class="forgotpassword" (click)="forgotPassword()">He olvidado mi contraseña</p>
      </div>

      <div class="separator"></div>

      <div class="socialbuttons">
        <ion-button expand="block" color="light" (click)="loginWithGoogle()">
          <ion-icon src="assets/icons/google.svg" slot="start"></ion-icon>
          Iniciar sesión con Google
        </ion-button>        
        <ion-button expand="block" color="light" (click)="loginWithFacebook()">
          <ion-icon src="assets/icons/facebook.svg" slot="start"></ion-icon>
          Iniciar sesión con Facebook
        </ion-button>
      </div>

      <div class="buttondiv">
        <ion-button expand="block" color="secondary" routerLink="/tabs/home">Acceder</ion-button>
          <!-- type="submit" -->
        <p class="gotoregister" routerLink="/register">Crear una cuenta nueva</p>
      </div>
    
    </form>
  </div>


      
  
</ion-content>