<ion-content>

  <div class="header">
    <p class="title">Bienvenido a<br><span>CHICK 'N' CHILL</span></p>
    <img src="assets/imgs/chicklogo2.png" alt="logo" class="logo">
  </div>

  <p class="slogan">¡Pollo frito y buen rollito!</p>

  <div class="star-products">
    <div class="header-star-products">
      <ion-icon src="/assets/icons/star.svg" slot="start"></ion-icon>
      <p class="title-star-products">PRODUCTOS ESTRELLA</p>
    </div>
    <div class="productdiv">
      <div class="product" *ngFor="let product of products">
        <div class="gradient"></div>
        <div class="imagediv">
          <img src="{{product.image}}" alt="product" class="product-image">
        </div>
        <div class="namediv">
          <p class="product-name">{{product.name}}</p>
        </div>
      </div>
    </div>
  </div>

  <p class="visit-us">¿A qué esperas para visitarnos?</p>

  <div class="divmap">
    <img src="/assets/imgs/map.PNG" alt="map" class="map">
  </div>

  <div class="info">
    <div class="row">
      <ion-icon src="/assets/icons/map.svg" slot="start"></ion-icon>
      <p class="info-text">Jerez de la Frontera, Cádiz, 11405</p>
    </div>
    <div class="row">
      <ion-icon src="/assets/icons/pin.svg" slot="start"></ion-icon>
      <p class="info-text">Avenida José Manuel Caballero Bonald, 1</p>
    </div>
    <div class="row">
      <ion-icon src="/assets/icons/calendar.svg" slot="start"></ion-icon>
      <p class="info-text">Abierto de Martes a Domingo</p>
    </div>
    <div class="row">
      <ion-icon src="/assets/icons/clock.svg" slot="start"></ion-icon>
      <p class="info-text">De 13:00 a 16:00 y de 20:00 a 00:00</p>
    </div>
    <div class="row">
      <ion-icon src="/assets/icons/insta.svg" slot="start"></ion-icon>
      <p class="info-text">@chicknchill_es</p>
    </div>
  </div>

</ion-content>